<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>SPARQL 1.1 Uniform HTTP Protocol for Managing RDF Graphs</display-name>

  <servlet>
    <servlet-name>sparql11-http-rdf-update</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.talis.labs.api.sparql11.http.Sparql11HttpRdfUpdateApplication</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup> 
  </servlet>

  <servlet-mapping>
    <servlet-name>sparql11-http-rdf-update</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>